PollAnalysisSystem/Iteration_1/src/main/__pycache__/AttendanceReportSerializer.cpython-36.pyc
PollAnalysisSystem/Iteration_1/src/main/__pycache__/GlobalReportSerializer.cpython-36.pyc
PollAnalysisSystem/Iteration_1/src/main/__pycache__/PollAnalysisSystem.cpython-36.pyc
PollAnalysisSystem/Iteration_1/src/tests/__pycache__/__init__.cpython-36.pyc
PollAnalysisSystem/Iteration_1/src/main/__pycache__/StatsReportSerializer.cpython-36.pyc
PollAnalysisSystem/Iteration_1/src/tests/__pycache__/TestSuitRunner.cpython-36.pyc
myenv/
.vscode/
*.log
reports/
labeled_datasets/
.Ds_Store
PollAnalysisSystem/Iteration_1/src/main/__pycache__/Answer.cpython-37.pyc
PollAnalysisSystem/Iteration_1/src/main/__pycache__/PollAnalysisSystem.cpython-37.pyc
PollAnalysisSystem/Iteration_1/src/main/__pycache__/Question.cpython-37.pyc
PollAnalysisSystem/Iteration_1/src/tests/__pycache__/TestSuitRunner.cpython-37.pyc
PollAnalysisSystem/Iteration_1/src/tests/__pycache__/__init__.cpython-37.pyc
__pycache__/
statistics/
venv/
global_report/